environment/
node_modules
cdk
.envrc
.DS_Store
.terraform
.venv
.pytest_cache
.terraform.lock.hcl
terraform/fleet-dashboard/terraform.tfstate
terraform/fleet-dashboard/terraform.tfstate.backup
.vscode
terraform/spokes/custom_domain.tf
